@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Hummm! O placar não parece correto ...</h3>
<p>Verifique o placar informado para que não haja empates de games nos sets ou de pontos no tie-break em um jogo que não houve desistente. </p>
<ul>
    <li>
        O valor de GAMES do 1&deg; e do 2&deg; sets devem terminar em 6 ou 7 (caso tenha sido jogado tie-break) games para o tenista vencedor do set.
    </li>
    <li>
        Caso um set tenha sido vencido no tie-break o tenista vencedor terá ganho este set por 7x6 em games. E neste caso deve também ser informada pontuação do tie-break do set,
        por exemplo: 7x4 pontos para o tenista que venceu o tie-break fazendo 7 pontos a 4. Resumindo o placar deste exemplo teria sido 7x6 games (7x4 pontos tie-break).
    </li>
    <li>
        O 3&deg; set dos jogos do ranking não é jogado em games mas em pontos, num tie-break que vai até 10 pontos, conhecido como super tie-break (ou tie-breakão).
    </li>
    <li>
        Apenas em caso de desistência de um dos tenistas o placar poderá apresentar empate no momento da desistência, ainda que neste caso o tenista desistente seja considerado derrotado.
    </li>
</ul>
<h5>Retorne a página anterior para alterar o placar informado ...</h5>

<button>Voltar</button>