<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-light">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="/img/GTM.png" alt="GTM" width="32" height="32" />
            GTM Tennis
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="RankingTenistas" asp-action="Ranking" asp-route-sexo=@Sexo.Feminino>Ranking Feminino</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="RankingTenistas" asp-action="Ranking" asp-route-sexo=@Sexo.Masculino>Ranking Masculino</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Tenista" asp-action="MeuPerfil">Meu Perfil</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Jogo" asp-action="MinhaAgenda">Minha Agenda</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Jogo" asp-action="HistoricoDesafios">Meu Histórico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Regulamento" asp-action="Index">Regulamento</a>
                    </li>
                }
                @*Só mostra menu ADM administrativo se estiver logado com email do administrador*@
                @if (User.Identity.Name != null)
                {
                    @if (User.Identity.Name.Contains("@gtmtennis.com.br"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tenista" asp-action="GerenciarTenistas">Gerenciar Tenistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HorarioQuadra" asp-action="ReservarQuadra">Reservar Quadra</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>