@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Todos os dados cadastrados são privados e internos, utilizados exclusivamente para o funcionamento do ranking da GTM Tennis</p>
