
@{
    ViewData["Title"] = "Desafiar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Desafio!</h1>
<p>Os jogos do ranking ainda não estão acontecendo. Aguarde mais alguns dias e você poderá chamar o desafio e agendar o jogo aqui mesmo!</p>