@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmado!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Seu email foi confirmado! Agora você já pode acessar o <a asp-page="./Login">Portal GTM</a>.
</p>