@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinir Senha";
}

<h1>@ViewData["Title"]</h1>
<p>Um email com instruções e o link para você trocar a senha foi enviado.</p>
<p>Caso não receba o email em alguns minutos, verifique na pasta Spam (Lixo Eletrônico), Promoções e Social de seu email ou repita o processo.</p>
<p>Considere adicionar este remetente à lista de remetentes confiáveis</p>
