@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registro";
}

<h1>@ViewData["Title"]</h1>
<p>Por gentileza verifique seu email para confirmar sua conta.</p>
<p>Caso não receba o email de confirmação do registro verifique a pasta Spam (Lixo Eletrônico), Promoções e Social de seu email.</p>
<p>Considere adicionar este remetente à lista de remetentes confiáveis.</p>