@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação da Redefinição de Senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi redefinida. Para acessar o portal GTM <a asp-page="./Login">clique aqui.</a>.
</p>
